
/* hero */
.intro {
    @apply flex flex-col items-start space-y-4 w-full;
}
.pill {
    @apply transition border border-input bg-background flex items-center text-xs px-2.5 py-1.5 rounded-full hover:-translate-y-1 hover:bg-primary hover:text-primary-foreground duration-300;
}

.github {
    @apply transition border border-input bg-background flex items-center rounded-full hover:-translate-y-1 hover:bg-primary hover:text-primary-foreground duration-300;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

.intro h1 {
    @apply pt-2 leading-tight;
}

.photo {
    @apply rounded-full object-cover;
    width: 120px;
    height: 120px;
    border: 3px solid #e5e7eb; /* cor cinza claro, pode ajustar */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }  

/* scroll down */
.scroll {
    @apply transition duration-300 absolute bottom-6 left-1/2 mb-8 hidden -translate-x-1/2 transform-gpu flex-col items-center text-sm text-slate-400 xl:flex tracking-tight;
}
.scroll--hidden {
    @apply opacity-0 transition duration-300;
}

/* projects */
.project-card {
    @apply p-14 bg-white/[1%] rounded-md;
}

/* spline canvas */
#canvas-container
{
    @apply bg-background border rounded-[30px] h-[380px] xl:w-[380px] xl:min-w-[380px] overflow-hidden shadow-xl;
    margin-right: 100px;


    /* this fixes the overflow:hidden in Chrome/Opera */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}